In [3]:
import os
import glob
import matplotlib.pyplot as plt
import datetime as dt
import pandas as pd
import numpy as np

In [4]:
def retrieve(start, end, data):
    
    """
    This is a function used to retrieve timeseries data within specific time duration.
    
    Arg:
        start: the start time of the dataset (format: %Y-%m-%d %H:%M:%S)
        end: the end time of the dataset (format: %Y-%m-%d %H:%M:%S)
        data: the name of the dataset/file (needs to be either a dataframe or filename string)
        
    Return:
        data_df: a dataframe that shows the within the defined time range
    """
    import os
    import datetime as dt
    from datetime import datetime
    import pandas as pd
    from zoneinfo import ZoneInfo
    
    if isinstance(data, str):
        path = 'clean_data'
        path = os.path.join(path, data)
        data = pd.read_csv(path)
    elif isinstance(data, pd.DataFrame):
        data = data
    else:
        raise TypeError("input must be a string or a dataframe")
    
    timezone = ZoneInfo('America/Los_Angeles')
    data['date'] = pd.to_datetime(data['date'], utc=True).dt.tz_convert('America/Los_Angeles')
    start = datetime.strptime(start, "%Y-%m-%d %H:%M:%S").replace(tzinfo=timezone)
    end = datetime.strptime(end, "%Y-%m-%d %H:%M:%S").replace(tzinfo=timezone)
    after_start_date = data["date"] >= start
    before_end_date = data["date"] <= end
    between_two_dates = after_start_date & before_end_date
    
    # Using pandas.DataFrame.loc to Filter Rows by Dates
    data_df = data.loc[between_two_dates]
    return data_df

In [5]:
retrieve('2018-06-01 00:00:00', '2018-07-01 00:00:00', 'site_weather.csv').head(60)

,date,air_temp_set_1,air_temp_set_2,dew_point_temperature_set_1d,relative_humidity_set_1,solar_radiation_set_1
14524,2018-06-01 00:00:00-07:00,10.89,11.05,6.97,77.00,0.03
14525,2018-06-01 00:15:00-07:00,10.88,10.98,6.83,76.30,0.02
14526,2018-06-01 00:30:00-07:00,10.77,10.84,6.84,76.88,0.03
14527,2018-06-01 00:45:00-07:00,10.77,10.74,6.82,76.82,0.06
14528,2018-06-01 01:00:00-07:00,10.72,10.76,7.30,79.60,0.03
14529,2018-06-01 01:15:00-07:00,10.57,10.55,7.59,82.00,0.04
14530,2018-06-01 01:30:00-07:00,10.44,10.46,7.59,82.70,0.03
14531,2018-06-01 01:45:00-07:00,10.36,10.34,7.46,82.40,0.05
14532,2018-06-01 02:00:00-07:00,10.36,10.27,7.37,81.90,0.02
14533,2018-06-01 02:15:00-07:00,10.21,10.27,7.28,82.20,0.02
14534,2018-06-01 02:30:00-07:00,10.04,10.07,7.15,82.40,0.01
14535,2018-06-01 02:45:00-07:00,9.98,9.90,7.07,82.30,0.02
14536,2018-06-01 03:00:00-07:00,9.81,9.74,6.99,82.80,0.03
14537,2018-06-01 03:15:00-07:00,9.72,9.64,6.89,82.70,0.01
14538,2018-06-01 03:30:00-07:00,9.73,9.70,6.74,81.80,0.01
14539,2018-06-01 03:45:00-07:00,9.76,9.71,6.60,80.90,0.00
14540,2018-06-01 04:00:00-07:00,9.64,9.69,6.52,81.10,0.01
14541,2018-06-01 04:15:00-07:00,9.66,9.63,6.63,81.60,0.01
14542,2018-06-01 04:30:00-07:00,9.48,9.43,6.54,82.10,0.01
14543,2018-06-01 04:45:00-07:00,9.49,9.45,6.48,81.70,0.00
14544,2018-06-01 05:00:00-07:00,9.46,9.66,6.45,81.70,0.00
14545,2018-06-01 05:15:00-07:00,9.78,9.93,6.45,79.94,0.00
14546,2018-06-01 05:30:00-07:00,9.69,9.81,6.36,79.97,0.11
14547,2018-06-01 05:45:00-07:00,9.62,9.69,6.34,80.20,1.03
14548,2018-06-01 06:00:00-07:00,9.63,9.67,6.29,79.90,4.74
14549,2018-06-01 06:15:00-07:00,9.63,9.70,6.42,80.60,10.67
14550,2018-06-01 06:30:00-07:00,9.58,9.73,6.59,81.80,16.37
14551,2018-06-01 06:45:00-07:00,9.73,9.79,6.88,82.60,21.47
14552,2018-06-01 07:00:00-07:00,9.86,9.88,7.08,83.00,27.06
14553,2018-06-01 07:15:00-07:00,10.07,10.14,7.21,82.60,40.94
14554,2018-06-01 07:30:00-07:00,10.51,10.57,7.11,79.68,158.30
14555,2018-06-01 07:45:00-07:00,10.91,10.97,6.92,76.59,250.30
14556,2018-06-01 08:00:00-07:00,10.88,11.01,6.98,77.10,295.60
14557,2018-06-01 08:15:00-07:00,11.08,11.24,7.29,77.68,340.60
14558,2018-06-01 08:30:00-07:00,11.19,11.26,7.45,77.98,385.40
14559,2018-06-01 08:45:00-07:00,11.61,11.61,7.67,76.98,431.10
14560,2018-06-01 09:00:00-07:00,12.16,12.08,7.77,74.75,475.70
14561,2018-06-01 09:15:00-07:00,12.66,12.56,7.78,72.40,520.10
14562,2018-06-01 09:30:00-07:00,13.44,13.21,8.02,69.94,563.80
14563,2018-06-01 09:45:00-07:00,14.03,13.72,8.05,67.48,605.60
14564,2018-06-01 10:00:00-07:00,14.66,14.26,8.24,65.65,645.70
14565,2018-06-01 10:15:00-07:00,15.29,14.81,8.53,64.29,682.90
14566,2018-06-01 10:30:00-07:00,15.43,14.83,8.85,65.07,716.60
14567,2018-06-01 10:45:00-07:00,16.02,15.26,9.16,63.98,752.70
14568,2018-06-01 11:00:00-07:00,16.42,15.71,9.20,62.55,784.60
14569,2018-06-01 11:15:00-07:00,16.83,16.07,9.25,61.17,813.00
14570,2018-06-01 11:30:00-07:00,16.79,16.14,9.04,60.46,841.00
14571,2018-06-01 11:45:00-07:00,17.44,16.43,9.07,58.14,862.00
14572,2018-06-01 12:00:00-07:00,17.87,17.00,9.01,56.35,884.00
14573,2018-06-01 12:15:00-07:00,18.54,17.46,9.16,54.58,900.00
14574,2018-06-01 12:30:00-07:00,18.71,17.81,9.35,54.69,912.00
14575,2018-06-01 12:45:00-07:00,19.44,18.42,9.31,52.11,920.00
14576,2018-06-01 13:00:00-07:00,20.28,19.10,9.10,48.78,927.00
14577,2018-06-01 13:15:00-07:00,19.68,18.62,8.72,49.36,932.00
14578,2018-06-01 13:30:00-07:00,19.65,18.45,8.61,49.09,931.00
14579,2018-06-01 13:45:00-07:00,19.77,18.72,8.54,48.48,930.00
14580,2018-06-01 14:00:00-07:00,20.02,18.94,8.64,48.06,926.00
14581,2018-06-01 14:15:00-07:00,20.51,19.32,8.35,45.72,914.00
14582,2018-06-01 14:30:00-07:00,20.72,19.48,8.23,44.76,898.00
14583,2018-06-01 14:45:00-07:00,20.81,19.56,8.34,44.84,880.00

In [6]:
print(retrieve.__doc__)

    This is a function used to retrieve timeseries data within specific time duration.

    Arg:
        start: the start time of the dataset (format: %Y-%m-%d %H:%M:%S)
        end: the end time of the dataset (format: %Y-%m-%d %H:%M:%S)
        data: the name of the dataset/file (needs to be either a dataframe or filename string)

    Return:
        data_df: a dataframe that shows the within the defined time range

In [13]:
def hourly(start, end, data):
    
    """
    This is a function defined to derive hourly summary of the dataset.
    
    Arg:
        start: the start time of the dataset (format: %Y-%m-%d %H:%M:%S)
        end: the end time of the dataset (format: %Y-%m-%d %H:%M:%S)
        data: the name of the dataset
        
    Return:
        data_df: a dataframe that shows the hourly summary of the input dataset

    """
    
    import datetime as dt
    from datetime import datetime
    import numpy as np
    from zoneinfo import ZoneInfo
    
    timezone = ZoneInfo('America/Los_Angeles')
    data['date'] = pd.to_datetime(data['date'])
    interval = dt.timedelta(hours=1)
    hourly_df = pd.DataFrame(columns=[data.columns])
    value_df = pd.DataFrame()
    time_df = pd.DataFrame()
    data_temp = pd.Series()
    while start < end:
        end_next = datetime.strptime(start, "%Y-%m-%d %H:%M:%S").replace(tzinfo=timezone) + interval
        end_next = datetime.strftime(end_next, "%Y-%m-%d %H:%M:%S")
        value = retrieve(start, end_next, data).mean(numeric_only=True)
        date = pd.Series({'date': start}, dtype='datetime64[ns]')
        value_df = pd.concat([value_df, pd.DataFrame(value).transpose()], axis = 0)
        time_df = pd.concat([time_df, pd.DataFrame(date).transpose()], axis = 0)
        start = end_next

    hourly_df = pd.concat([time_df, value_df], axis = 1).reset_index(drop=True)
    
    return hourly_df

In [14]:
data = retrieve('2018-05-01 00:00:00', '2018-07-01 00:00:00', 'rtu_oa_damper.csv')

In [9]:
hourly('2018-05-01 00:00:00', '2018-06-01 00:00:00', data)

/tmp/ipykernel_222/1288342192.py:27: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  data_temp = pd.Series()

In [ ]:
print(hourly.__doc__)

In [10]:
def daily(start, end, data):
    
    """
    This is a function defined to derive daily summary of the dataset.
    
    Arg:
        start: the start time of the dataset (format: %Y-%m-%d %H:%M:%S)
        end: the end time of the dataset (format: %Y-%m-%d %H:%M:%S)
        data: the name of the dataset
        
    Return:
        data_df: a dataframe that shows the daily summary of the input dataset

    """
    
    import datetime as dt
    from datetime import datetime
    import numpy as np
    from zoneinfo import ZoneInfo
    
    timezone = ZoneInfo('America/Los_Angeles')
    data['date'] = pd.to_datetime(data['date'])
    interval = dt.timedelta(days=1)
    daily_df = pd.DataFrame(columns=[data.columns])
    value_df = pd.DataFrame()
    time_df = pd.DataFrame()
    data_temp = pd.Series()
    while start < end:
        end_next = datetime.strptime(start, "%Y-%m-%d %H:%M:%S").replace(tzinfo=timezone) + interval
        end_next = datetime.strftime(end_next, "%Y-%m-%d %H:%M:%S")
        value = retrieve(start, end_next, data).mean(numeric_only=True)
        date = pd.Series({'date': start}, dtype='datetime64[ns]')
        value_df = pd.concat([value_df, pd.DataFrame(value).transpose()], axis = 0)
        time_df = pd.concat([time_df, pd.DataFrame(date).transpose()], axis = 0)
        start = end_next

    daily_df = pd.concat([time_df, value_df], axis = 1).reset_index(drop=True)
    
    return daily_df

In [12]:
daily('2018-05-01 00:00:00', '2018-06-01 00:00:00', data).head(60)

/tmp/ipykernel_222/3046629922.py:27: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  data_temp = pd.Series()

,date,rtu_001_oadmpr_pct,rtu_002_oadmpr_pct,rtu_003_oadmpr_pct,rtu_004_oadmpr_pct
0,2018-05-01,38.592228,43.606662,51.128661,40.337405
1,2018-05-02,39.699237,42.229285,49.639695,38.438862
2,2018-05-03,38.762974,40.449872,53.084594,36.619996
3,2018-05-04,38.120309,49.877468,50.955767,40.677146
4,2018-05-05,38.246118,50.013352,51.018428,40.771074
5,2018-05-06,38.021184,49.878611,50.923979,40.687743
6,2018-05-07,38.160675,49.920128,50.900405,40.703092
7,2018-05-08,39.836738,53.969545,61.731776,48.826027
8,2018-05-09,43.393695,57.490108,69.251311,53.200644
9,2018-05-10,48.461308,60.762227,61.232536,47.280378
10,2018-05-11,53.603506,61.158627,64.446290,58.399560
11,2018-05-12,53.728383,62.548508,71.310756,56.304927
12,2018-05-13,32.365302,40.291881,51.292297,34.825954
13,2018-05-14,30.947675,37.879944,52.744344,34.394587
14,2018-05-15,33.334074,41.689521,56.401943,37.729077
15,2018-05-16,33.861069,43.783900,55.259542,39.464677
16,2018-05-17,36.647918,46.550118,56.884506,44.313922
17,2018-05-18,38.320371,50.067331,51.102941,40.814043
18,2018-05-19,36.823194,42.527927,46.508006,36.750091
19,2018-05-20,40.268425,38.504788,46.633310,38.303262
20,2018-05-21,42.679251,44.398473,58.499098,43.732408
21,2018-05-22,35.554892,35.593338,49.306176,32.439695
22,2018-05-23,40.653435,37.224011,51.892297,33.539070
23,2018-05-24,41.675503,36.122137,51.381818,33.177377
24,2018-05-25,32.255216,34.200512,48.530183,31.186296
25,2018-05-26,38.089314,49.856695,50.874611,40.677465
26,2018-05-27,38.143779,49.895493,50.933616,40.647445
27,2018-05-28,38.183801,50.005731,50.943963,40.677978
28,2018-05-29,38.252791,50.010200,51.002493,40.776040
29,2018-05-30,39.546490,53.577466,53.207486,43.746999
30,2018-05-31,38.182613,49.988293,50.965168,40.746868

In [ ]:
print(daily.__doc__)

In [ ]:
def